.basket-headline {
  justify-content: center !important;
}

.bg-body-tertiary {
  border-bottom: 1px solid rgb(235, 232, 232) !important;
}

.basket_wrapper {
    width: 300px;
    flex-grow: 1;
    border: 2px solid  rgb(235, 232, 232);
}

.basket {
    width: 100%;
    height: 400px;
    position: sticky;
    top: 0;
}

.basket_img {
    width: 15px;
}

.basket_btn {
    border: none;
    background-color: white ;
}

.basket_line {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
    padding-bottom: 10px;
}

.total_cost_product {
    padding-left: 45px;
}

.total {
    border-top: 1px solid rgb(235, 232, 232);
    padding-top: 10px;
}

.total_line {
    display: flex;
    justify-content: space-between;
    padding-right: 10px;
}