.header {
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 128, 0) !important;
  display: flex;
  justify-content: space-between;
  position: sticky !important;
  z-index: 100;
  top: 0;
}

#logo_img {
  max-width: 120px;
}

.dropdown-toggle::after {
  display: none !important;
}

.dropdown-menu[data-bs-popper] {
  left: -100px !important;
  position: absolute;
  z-index: 200; 
}
