.header {
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 128, 0) !important;
  display: flex;
  justify-content: space-between;
}

#logo_img {
  max-width: 120px;
}