#dialog_btn {
  position: sticky;
  bottom: 0;
  width: 100%;
  padding: 10px 20px;
  background-color: white;
  z-index: 1000; /* ώστε να μην το καλύπτει τίποτα */
}

#dialog_btn .btn {
  width: 90%;
  margin: 0 auto;
  display: block;
}

.small_header {
  background-color: rgb(255, 128, 0);
  color: white;
}

.modal-body {
  padding: var(--bs-modal-header-padding);
}

