#dialog_btn {
    display: none;
    padding: 5px 20px;
}

.btn {
    width: 100%;
    font-weight: bold !important;
}

@media (max-width:830px) {
    .basket_wrapper{
        display: none;
    }

    .content {
        width: 100%;
    }

    #dialog_btn {
        display: block;
    }

    .illustration_img {
        display: none;
    }

    .list-group-item  {
        height: 165px;
    }
}

@media (max-width:530px) {
    .list-group-item  {
        height: 170px;
    }
}

@media (max-width:350px) {
    .list-group-item  {
        height: 193px;
    }
}

