* {
    box-sizing: border-box;
    margin: 0;
    scroll-behavior: smooth;
    font-size: 16px;
}

body {
    min-height: 100vh;
}

h3 {
  font-size: 16px;
  padding: 10px !important;
  margin-bottom: 0 !important;
}

h5 {
    padding-top: 5px;
    padding-bottom: 10px;
}

li {
    list-style: none;
}

footer {
  background-color: rgb(255,128,0);
  height: 60px;
  position: relative;
  bottom: 0;
  width: 100%;
  position: fixed;
  bottom: 0;
}

a {
    text-decoration: none !important;
    color: gray !important;
    font-weight: bold;
    padding-right: 10px;
}

#rating {
   color: rgb(255,128,0);
   padding-left: 10px;
   padding-bottom: 20px !important;
}

a:hover {
    color: rgb(255,128,0) !important;
}

footer {
    height: 60px;
}

.mw {
    max-width: 1440px;
    margin: 0 auto;
}